{% extends "site.html" %}
{% import "macros.html" as macros %}

{% block title %}
 {% if dep %}
     {{ config.DEPTS[dep] }}
 {% endif %} 
 {{ start }} - {{ end }} 
{% endblock %}

{% block content %}
<div class="row">
 <div class="col-lg-2"></div>
 <div class="col-lg-8">
  <h2>{{ total }} moviment{% if total>1 or total==0 %}s{% endif %} <small>de {{ start }} a {{ end }}</small> 
  {% if dep %}
     <button class="btn btn-default">{{ config.DEPTS[dep] }} <a href="{{ url_for('diario',start=start) }}">suprimir filtro</a></button>
  {% endif %}
  <span style="white-space: nowrap;">
  {% for n in nav %}
     <a class="btn btn-default {{ n.disabled }}" title="{{ n.title }}" href="{{ n.link }}">{{ n.text|safe }}</a> 
  {% endfor %}
  </span>
  </h2>
  {% if resultados.nuevos %}
  <h4>{{ resultados.nuevos|length }} noves entitats creades</h4>
  <ul class="entidades nuevas">
    {% for ent in resultados.nuevos %}
		<li>{{ macros.nom(ent,start,dep) }} <p>{{ ent.stamp }} - Resp. {{ macros.resp(ent.resp) }} {{ macros.canvi(ent) }}</p>   
        </li>
    {% endfor %}  
  </ul>
  {% endif %}
  {% if resultados.borrados %}
  <h4>{{ resultados.borrados|length }} entitats suprimides</h4>
  <ul class="entidades borradas">
    {% for ent in resultados.borrados %}
		<li>{{ macros.nom(ent,start,dep) }} <p> {{ ent.stamp }} - Resp. {{ macros.resp(ent.resp) }}
		{{ macros.canvi(ent) }}</p></li>
    {% endfor %}  
  </ul>
  {% endif %}
  {% if resultados.canvisresp %}
  <h4>{{ resultados.canvisresp|length }} entitats amb responsabilitats canviades</h4>
  <ul class="entidades responsable">
    {% for ent in resultados.canvisresp %}
		<li class="{{ ent.class }}">{{ macros.nom(ent,start,dep) }} <p>{{ ent.stamp }} -
		{% if ent.class=="responsable-out" %}
		   <!-- <span class="glyphicon glyphicon-log-out"></span> -->{{ macros.resp(ent.oldresp) }} ha deixat el càrrec. No fent reemplaçament.
		{% else %}
		   {% if ent.class == "reponsable-in" %}
		   <!--   <span class="glyphicon glyphicon-log-in"></span>--> {{ macros.resp(ent.resp) }} va assumir el càrrec. Estava vacant.
		   {% else %}
		   <!--   <span class="glyphicon glyphicon-transfer"></span> --> {{ macros.resp(ent.resp) }} ha reemplaçat a {{ macros.resp(ent.oldresp) }}
		   {% endif %}
		{% endif %}
		
		{{ macros.canvi(ent) }}
		</p>
		</li>
    {% endfor %}  
  </ul>
  {% endif %}

  {% if resultados.canvisnom %}
  <h4>{{ resultados.canvisnom|length }} entitats rebatejades</h4>
  <ul class="entidades nombre">
    {% for ent in resultados.canvisnom %}
		<li>{{ macros.nom(ent,start,dep) }} <p><del>{{ ent.oldnom }}</del> <br/> {{ ent.stamp }}  - Resp. {{ macros.resp(ent.resp) }} 
		{{ macros.canvi(ent) }}
		</p></li>
    {% endfor %}  
  </ul>
  {% endif %}



  
 </div>
 


</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() {

	$('.popover-ajax').popover({
        "html": true,
        "trigger" : "hover",
        "title" : "Història",
        "container" : "body",
        "content": function()
        {   
            var div_id =  "div-id-" + $.now();
            return details_in_popover($(this).data('getcontent'), div_id)
        }});

	function details_in_popover(link, div_id)
	{
		$.ajax({
        url: link,
        success: function(response){
            $('#'+div_id).html(response)}});
    return '<div style="height: 250px; width: 250px" id="'+ div_id +'">càrrega...</div>'
	}
})

</script>
{% endblock %}
